/target

# json product data output
/json/ti/*.json
/json/st/*.json
/json/st/datapages/*.json

# downloaded datasheets
/pdf/ti/gpn/*.pdf
/pdf/ti/lit/*.pdf
/pdf/ti/lit/*.zip

/pdf/st/techdocs/*.pdf
/pdf/st/datasheets/*.pdf

# picolisp!?
/pil

# cargo-flamegraph default output
/perf.data
/perf.data.*
/flamegraph.svg
