/target

# json product data output
/json/ti/*.json
/json/st/*.json

# downloaded datasheets
/pdf/ti/*
/pdf/st/*

# picolisp!?
/pil

# cargo-flamegraph default output
/perf.data
/perf.data.*
/flamegraph.svg
